body {
	margin: 0px;	
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	background-color: black;
}

p {
	font-size: 1em;
}

h3 {
	font-size: 1.1em;
}

h2 {
	font-size: 1.7em;
}

h1 {
	font-size: 2em;
}

#topnav {
	z-index: 100;
	background-color: black;
	color: white;
	width: 100%;
}
	#topnav ul {
		list-style: none;
	}
	#topnav > ul {
		float: right;
		margin: 0px;
		padding: 0px;
	}
	#topnav > ul > li {
		display: block;
		float: left;
		position: relative;
	}
	#topnav a {
		display: block;
		color: white;
		text-decoration: none;
		margin: 0px;
		padding: 10px;
	}
	#topnav #searchbar, #topnav #searchbutton, #topnav #menubutton {
		display: block;
		color: white;
		margin: 0px;
		padding: 10px;
	}
	#topnav > ul > li:hover {
		background-color: #333333;
	}

	/*CSS menu */
	#topnav > ul > li > ul {
		z-index: 110;
		display: none;
		position: absolute;
		background-color: #333333;
		color: white;
		width: 150px;
		top: 45px;
		left: 0px;
		margin: 0px;
		padding: 0px;
	}
		#topnav ul > li:hover > ul{
			display: block;
			background-color: #333333;
		}
		#topnav > ul > li > ul > li {

		}
		#topnav ul > li > ul > li > a {
			display: block;
			width: 130px;
		}
		#topnav ul > li > ul > li > a:hover {
			background-color: #555555;
		}

#searchbar {
	padding: 1em;
}

#breadcrumbs {
	z-index: 90;
	display: block;
	width: 100%;
	background-color: white;
	font-size: .8em;
}
	#breadcrumbs > ul{
		margin: 0px;
		padding: 0px;
	}
	#breadcrumbs > ul > li {
		display: inline-block;
	}
	#breadcrumbs a {
		color: white;
		background-color: #444444;
		padding: 0px 20px 0px 5px;
		text-decoration: none;
	}

#content {
	display: block;
	width: 100%;
	background-color: white;
	padding: 20px 0px 20px 0px;
}
	#content > * {
		margin: 10px 30px 10px 30px;
	}

#footer {
	background-color: black;
	color: white;
	width: 100%;
	padding: 50px 0px 50px 0px;
	text-align: center;
}
	#footer a {
		color: white;
		padding: 0px 20px 0px 5px;
	}

.float-clearing::after {
	content: " ";
	visibility: hidden;
	display: block;
	height: 0px;
	clear: both;
}