body {
	background-color: #016D47;
	color: #FFFFFF;
	font-size:100%;
}

a {
	text-decoration: none;
	color: #EFAF32;
	font-style: italic;
}

#topnav {
	background-color: #21A074;
}

	#topnav ul li {
		display: inline;
	}

#breadcrumbs {
	background-color: #21A074;
}

#leftcolumn {
	background-color: #21A074;
	float: left;
	margin-left: auto;
	padding: 1% 1% 1% 1%;
	display: inline-block;
	width: 10%;
}

#content {
	margin-left: auto;
	margin-right: auto;
	background-color: #21A074;
	padding: 1% 1% 1% 1%;
	display: inline-block;
	width: 70%%;
}

#rightcolumn {
	background-color: #21A074;
	float: right;
	margin-right: auto;
	padding: 1% 1% 1% 1%;
	display: inline-block;
	width: 10%;
}