body {
	background-color: #eeeeee;
}

nav *{
	text-align: middle;
	padding: 5px 10px 5px 10px;
	color: black;
	font-size: 20;
	text-decoration: none;
}
	nav ul li{
		z-index: 1;
		display: inline-block;
		position: relative;
		text-align: center;
		background-color: white;
	}
	nav ul li:hover{
		background-color: #555555;
	}
		nav ul li ul{
			position: absolute;
			top: 100%;
			visibility: hidden;
		}
			nav ul li ul li{
				display: block;
				width: 100px;
			}
		nav ul li:hover ul{
			visibility: visible;
		}