@media screen and (max-width: 599px) {
	body {
		background-color: #016D47;
		color: #FFFFFF;
		font-size:100%;
	}

	h1 a {
		font-size: 2em;
		text-decoration: none;
		color: #FFC75A;
		margin-left: 5%;
	}

	h2 {
		font-size: 2em;
	}

	h3 {
		font-size: 1.3em;
	}

	p {
		font-size: 1em;
	}

	a {
		color: #FFD583;
		/*text-shadow: 0.06em 0.05em #A33602;*/
	}

	#top {
		background-color: #333323; 
		color: #FFC75A;
		font-size: 1em;
		text-align: center;
		padding-top: 5px;
		padding-bottom: 5px;
		border-top-right-radius: 10px;
		border-bottom-left-radius: 10px;
	}

	#topnav {
		margin-top: -16px;
		margin-bottom: -16px;
	}

		#topnav ul {
			padding-left: 0em;
		}
	
		#topnav ul li {
			border-top-right-radius: 10px;
			border-bottom-left-radius: 10px;
			background-color: #21A074;
			border: 1px solid #016D47;
			display: block;
			letter-spacing: .05em;
		}

		#topnav ul li:hover {
			background-color: #333323;
			text-shadow: 0.06em 0.05em #A36C02;
		}

		#topnav ul li a {
			text-decoration: none;
			color: #FFC75A;
			text-transform: uppercase;
			display:block;
			padding-right: 1.3em;
			padding-left: .5em;
			padding-top: .5em;
			padding-bottom: .5em;
		}

		.currentSelected {
			background-color: #333323;
		}

	#breadcrumbs {
		margin-top: 1.1em;
		border-top-right-radius: 10px;
		border-bottom-left-radius: 10px;
		background-color: #0A8A5D;
		width: 70%;
	}

		#breadcrumbs ul {
			padding-left: .5em;
		}
		
		#breadcrumbs ul li {
			display: inline-block;
		}

		#breadcrumbs ul li a {
			text-decoration: none;
			color: #D59570;
			font-style: italic;
		}

		#breadcrumbs ul li a::after {
			content: " > ";
		}

	#leftcolumn {
		display: none;
	}

	#content {
		border-top-right-radius: 10px;
		background-color: #21A074;
		padding: 1% 3% 1% 3%;
	}

	#rightcolumn {
		display: none;
	}

	#footer {
		border-bottom-left-radius: 10px;
		background-color:#333323;
		padding: 1% 3% 1% 3%;
		color: #CE8D0F;
		text-align: center;
	}
}